html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font: 112.5%/1.45em georgia, serif, sans-serif;
  box-sizing: border-box;
  overflow-y: scroll;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: hsla(0, 0%, 0%, 0.8);
  font-family: georgia, serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
  background-color: #ebf7ff;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 2.25rem;
  line-height: 1.1;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace;
  font-size: 1em;
}
figure {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
hr {
  box-sizing: content-box;
  overflow: visible;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: calc(1.45rem - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 1px;
}
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: 700;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid silver;
  padding: 0.35em 0.625em 0.75em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
h2 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.62671rem;
  line-height: 1.1;
}
h3 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.38316rem;
  line-height: 1.1;
}
h4 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.1;
}
h5 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.85028rem;
  line-height: 1.1;
}
h6 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.78405rem;
  line-height: 1.1;
}
hgroup {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
ul {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
ol {
  margin-left: 1.45rem;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  list-style-position: outside;
  list-style-image: none;
}
dl {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
dd {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
p {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 1.45rem;
  font-size: 0.85rem;
  line-height: 1.42;
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  overflow: auto;
  word-wrap: normal;
  padding: 1.45rem;
}
table {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  font-size: 1rem;
  line-height: 1.45rem;
  border-collapse: collapse;
  width: 100%;
}
blockquote {
  margin-left: 1.45rem;
  margin-right: 1.45rem;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
form {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
noscript {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
iframe {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
address {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
}
b {
  font-weight: bold;
}
strong {
  font-weight: bold;
}
dt {
  font-weight: bold;
}
th {
  font-weight: bold;
}
li {
  margin-bottom: calc(1.45rem / 2);
}
ol li {
  padding-left: 0;
}
ul li {
  padding-left: 0;
}
li > ol {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
li > ul {
  margin-left: 1.45rem;
  margin-bottom: calc(1.45rem / 2);
  margin-top: calc(1.45rem / 2);
}
blockquote *:last-child {
  margin-bottom: 0;
}
li *:last-child {
  margin-bottom: 0;
}
p *:last-child {
  margin-bottom: 0;
}
li > p {
  margin-bottom: calc(1.45rem / 2);
}
code {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
kbd {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
samp {
  font-size: 0.85rem;
  line-height: 1.45rem;
}
abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
thead {
  text-align: left;
}
td,
th {
  text-align: left;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.12);
  font-feature-settings: "tnum";
  -moz-font-feature-settings: "tnum";
  -ms-font-feature-settings: "tnum";
  -webkit-font-feature-settings: "tnum";
  padding-left: 0.96667rem;
  padding-right: 0.96667rem;
  padding-top: 0.725rem;
  padding-bottom: calc(0.725rem - 1px);
}
th:first-child,
td:first-child {
  padding-left: 0;
}
th:last-child,
td:last-child {
  padding-right: 0;
}
tt,
code {
  background-color: hsla(0, 0%, 0%, 0.04);
  border-radius: 3px;
  font-family: "SFMono-Regular", Consolas, "Roboto Mono", "Droid Sans Mono",
    "Liberation Mono", Menlo, Courier, monospace;
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
pre code {
  background: none;
  line-height: 1.42;
}
code:before,
code:after,
tt:before,
tt:after {
  letter-spacing: -0.2em;
  content: " ";
}
pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: "";
}
@media only screen and (max-width: 480px) {
  html {
    font-size: 100%;
  }
}

/* Loading Effect */

:root {
  --background: #ebf7ff;
}

.preLoader {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 50%;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
  z-index: 100;
}

.loader {
  --duration: 3s;
  --primary: rgba(39, 94, 254, 1);
  --primary-light: #2f71ff;
  --primary-rgba: rgba(39, 94, 254, 0);
  width: 200px;
  height: 320px;
  top: 50%;
  position: relative;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
@media (max-width: 480px) {
  .loader {
    zoom: 0.44;
  }
}
.loader:before,
.loader:after {
  --r: 20.5deg;
  content: "";
  width: 320px;
  height: 140px;
  position: absolute;
  right: 32%;
  bottom: -11px;
  background: var(--background);
  -webkit-transform: translateZ(200px) rotate(var(--r));
  transform: translateZ(200px) rotate(var(--r));
  -webkit-animation: mask var(--duration) linear forwards infinite;
  animation: mask var(--duration) linear forwards infinite;
}
.loader:after {
  --r: -20.5deg;
  right: auto;
  left: 32%;
}
.loader .ground {
  position: absolute;
  left: -50px;
  bottom: -120px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
  transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
}
.loader .ground div {
  -webkit-transform: rotateX(90deg) rotateY(0deg) translate(-48px, -120px)
    translateZ(100px) scale(0);
  transform: rotateX(90deg) rotateY(0deg) translate(-48px, -120px)
    translateZ(100px) scale(0);
  width: 200px;
  height: 200px;
  background: var(--primary);
  background: linear-gradient(
    45deg,
    var(--primary) 0%,
    var(--primary) 50%,
    var(--primary-light) 50%,
    var(--primary-light) 100%
  );
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-animation: ground var(--duration) linear forwards infinite;
  animation: ground var(--duration) linear forwards infinite;
}
.loader .ground div:before,
.loader .ground div:after {
  --rx: 90deg;
  --ry: 0deg;
  --x: 44px;
  --y: 162px;
  --z: -50px;
  content: "";
  width: 156px;
  height: 300px;
  opacity: 0;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(var(--primary)),
    to(var(--primary-rgba))
  );
  background: linear-gradient(var(--primary), var(--primary-rgba));
  position: absolute;
  -webkit-transform: rotateX(var(--rx)) rotateY(var(--ry))
    translate(var(--x), var(--y)) translateZ(var(--z));
  transform: rotateX(var(--rx)) rotateY(var(--ry)) translate(var(--x), var(--y))
    translateZ(var(--z));
  -webkit-animation: ground-shine var(--duration) linear forwards infinite;
  animation: ground-shine var(--duration) linear forwards infinite;
}
.loader .ground div:after {
  --rx: 90deg;
  --ry: 90deg;
  --x: 0;
  --y: 177px;
  --z: 150px;
}
.loader .box {
  --x: 0;
  --y: 0;
  position: absolute;
  -webkit-animation: var(--duration) linear forwards infinite;
  animation: var(--duration) linear forwards infinite;
  -webkit-transform: translate(var(--x), var(--y));
  transform: translate(var(--x), var(--y));
}
.loader .box div {
  background-color: var(--primary);
  width: 48px;
  height: 48px;
  position: relative;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-animation: var(--duration) ease forwards infinite;
  animation: var(--duration) ease forwards infinite;
  -webkit-transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
  transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
}
.loader .box div:before,
.loader .box div:after {
  --rx: 90deg;
  --ry: 0deg;
  --z: 24px;
  --y: -24px;
  --x: 0;
  content: "";
  position: absolute;
  background-color: inherit;
  width: inherit;
  height: inherit;
  -webkit-transform: rotateX(var(--rx)) rotateY(var(--ry))
    translate(var(--x), var(--y)) translateZ(var(--z));
  transform: rotateX(var(--rx)) rotateY(var(--ry)) translate(var(--x), var(--y))
    translateZ(var(--z));
  -webkit-filter: brightness(var(--b, 1.2));
  filter: brightness(var(--b, 1.2));
}
.loader .box div:after {
  --rx: 0deg;
  --ry: 90deg;
  --x: 24px;
  --y: 0;
  --b: 1.4;
}
.loader .box.box0 {
  --x: -220px;
  --y: -120px;
  left: 58px;
  top: 108px;
}
.loader .box.box1 {
  --x: -260px;
  --y: 120px;
  left: 25px;
  top: 120px;
}
.loader .box.box2 {
  --x: 120px;
  --y: -190px;
  left: 58px;
  top: 64px;
}
.loader .box.box3 {
  --x: 280px;
  --y: -40px;
  left: 91px;
  top: 120px;
}
.loader .box.box4 {
  --x: 60px;
  --y: 200px;
  left: 58px;
  top: 132px;
}
.loader .box.box5 {
  --x: -220px;
  --y: -120px;
  left: 25px;
  top: 76px;
}
.loader .box.box6 {
  --x: -260px;
  --y: 120px;
  left: 91px;
  top: 76px;
}
.loader .box.box7 {
  --x: -240px;
  --y: 200px;
  left: 58px;
  top: 87px;
}
.loader .box0 {
  -webkit-animation-name: box-move0;
  animation-name: box-move0;
}
.loader .box0 div {
  -webkit-animation-name: box-scale0;
  animation-name: box-scale0;
}
.loader .box1 {
  -webkit-animation-name: box-move1;
  animation-name: box-move1;
}
.loader .box1 div {
  -webkit-animation-name: box-scale1;
  animation-name: box-scale1;
}
.loader .box2 {
  -webkit-animation-name: box-move2;
  animation-name: box-move2;
}
.loader .box2 div {
  -webkit-animation-name: box-scale2;
  animation-name: box-scale2;
}
.loader .box3 {
  -webkit-animation-name: box-move3;
  animation-name: box-move3;
}
.loader .box3 div {
  -webkit-animation-name: box-scale3;
  animation-name: box-scale3;
}
.loader .box4 {
  -webkit-animation-name: box-move4;
  animation-name: box-move4;
}
.loader .box4 div {
  -webkit-animation-name: box-scale4;
  animation-name: box-scale4;
}
.loader .box5 {
  -webkit-animation-name: box-move5;
  animation-name: box-move5;
}
.loader .box5 div {
  -webkit-animation-name: box-scale5;
  animation-name: box-scale5;
}
.loader .box6 {
  -webkit-animation-name: box-move6;
  animation-name: box-move6;
}
.loader .box6 div {
  -webkit-animation-name: box-scale6;
  animation-name: box-scale6;
}
.loader .box7 {
  -webkit-animation-name: box-move7;
  animation-name: box-move7;
}
.loader .box7 div {
  -webkit-animation-name: box-scale7;
  animation-name: box-scale7;
}

@-webkit-keyframes box-move0 {
  12% {
    -webkit-transform: translate(var(--x), var(--y));
    transform: translate(var(--x), var(--y));
  }
  25%,
  52% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  80% {
    -webkit-transform: translate(0, -32px);
    transform: translate(0, -32px);
  }
  90%,
  100% {
    -webkit-transform: translate(0, 188px);
    transform: translate(0, 188px);
  }
}

@keyframes box-move0 {
  12% {
    -webkit-transform: translate(var(--x), var(--y));
    transform: translate(var(--x), var(--y));
  }
  25%,
  52% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  80% {
    -webkit-transform: translate(0, -32px);
    transform: translate(0, -32px);
  }
  90%,
  100% {
    -webkit-transform: translate(0, 188px);
    transform: translate(0, 188px);
  }
}
@-webkit-keyframes box-scale0 {
  6% {
    -webkit-transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
    transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
  }
  14%,
  100% {
    -webkit-transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
    transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
  }
}
@keyframes box-scale0 {
  6% {
    -webkit-transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
    transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
  }
  14%,
  100% {
    -webkit-transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
    transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
  }
}
@-webkit-keyframes box-move1 {
  16% {
    -webkit-transform: translate(var(--x), var(--y));
    transform: translate(var(--x), var(--y));
  }
  29%,
  52% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  80% {
    -webkit-transform: translate(0, -32px);
    transform: translate(0, -32px);
  }
  90%,
  100% {
    -webkit-transform: translate(0, 188px);
    transform: translate(0, 188px);
  }
}
@keyframes box-move1 {
  16% {
    -webkit-transform: translate(var(--x), var(--y));
    transform: translate(var(--x), var(--y));
  }
  29%,
  52% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  80% {
    -webkit-transform: translate(0, -32px);
    transform: translate(0, -32px);
  }
  90%,
  100% {
    -webkit-transform: translate(0, 188px);
    transform: translate(0, 188px);
  }
}
@-webkit-keyframes box-scale1 {
  10% {
    -webkit-transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
    transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
  }
  18%,
  100% {
    -webkit-transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
    transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
  }
}
@keyframes box-scale1 {
  10% {
    -webkit-transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
    transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
  }
  18%,
  100% {
    -webkit-transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
    transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
  }
}
@-webkit-keyframes box-move2 {
  20% {
    -webkit-transform: translate(var(--x), var(--y));
    transform: translate(var(--x), var(--y));
  }
  33%,
  52% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  80% {
    -webkit-transform: translate(0, -32px);
    transform: translate(0, -32px);
  }
  90%,
  100% {
    -webkit-transform: translate(0, 188px);
    transform: translate(0, 188px);
  }
}
@keyframes box-move2 {
  20% {
    -webkit-transform: translate(var(--x), var(--y));
    transform: translate(var(--x), var(--y));
  }
  33%,
  52% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  80% {
    -webkit-transform: translate(0, -32px);
    transform: translate(0, -32px);
  }
  90%,
  100% {
    -webkit-transform: translate(0, 188px);
    transform: translate(0, 188px);
  }
}
@-webkit-keyframes box-scale2 {
  14% {
    -webkit-transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
    transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
  }
  22%,
  100% {
    -webkit-transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
    transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
  }
}
@keyframes box-scale2 {
  14% {
    -webkit-transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
    transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
  }
  22%,
  100% {
    -webkit-transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
    transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
  }
}
@-webkit-keyframes box-move3 {
  24% {
    -webkit-transform: translate(var(--x), var(--y));
    transform: translate(var(--x), var(--y));
  }
  37%,
  52% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  80% {
    -webkit-transform: translate(0, -32px);
    transform: translate(0, -32px);
  }
  90%,
  100% {
    -webkit-transform: translate(0, 188px);
    transform: translate(0, 188px);
  }
}
@keyframes box-move3 {
  24% {
    -webkit-transform: translate(var(--x), var(--y));
    transform: translate(var(--x), var(--y));
  }
  37%,
  52% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  80% {
    -webkit-transform: translate(0, -32px);
    transform: translate(0, -32px);
  }
  90%,
  100% {
    -webkit-transform: translate(0, 188px);
    transform: translate(0, 188px);
  }
}
@-webkit-keyframes box-scale3 {
  18% {
    -webkit-transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
    transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
  }
  26%,
  100% {
    -webkit-transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
    transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
  }
}
@keyframes box-scale3 {
  18% {
    -webkit-transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
    transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
  }
  26%,
  100% {
    -webkit-transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
    transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
  }
}
@-webkit-keyframes box-move4 {
  28% {
    -webkit-transform: translate(var(--x), var(--y));
    transform: translate(var(--x), var(--y));
  }
  41%,
  52% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  80% {
    -webkit-transform: translate(0, -32px);
    transform: translate(0, -32px);
  }
  90%,
  100% {
    -webkit-transform: translate(0, 188px);
    transform: translate(0, 188px);
  }
}
@keyframes box-move4 {
  28% {
    -webkit-transform: translate(var(--x), var(--y));
    transform: translate(var(--x), var(--y));
  }
  41%,
  52% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  80% {
    -webkit-transform: translate(0, -32px);
    transform: translate(0, -32px);
  }
  90%,
  100% {
    -webkit-transform: translate(0, 188px);
    transform: translate(0, 188px);
  }
}
@-webkit-keyframes box-scale4 {
  22% {
    -webkit-transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
    transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
  }
  30%,
  100% {
    -webkit-transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
    transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
  }
}
@keyframes box-scale4 {
  22% {
    -webkit-transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
    transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
  }
  30%,
  100% {
    -webkit-transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
    transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
  }
}
@-webkit-keyframes box-move5 {
  32% {
    -webkit-transform: translate(var(--x), var(--y));
    transform: translate(var(--x), var(--y));
  }
  45%,
  52% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  80% {
    -webkit-transform: translate(0, -32px);
    transform: translate(0, -32px);
  }
  90%,
  100% {
    -webkit-transform: translate(0, 188px);
    transform: translate(0, 188px);
  }
}
@keyframes box-move5 {
  32% {
    -webkit-transform: translate(var(--x), var(--y));
    transform: translate(var(--x), var(--y));
  }
  45%,
  52% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  80% {
    -webkit-transform: translate(0, -32px);
    transform: translate(0, -32px);
  }
  90%,
  100% {
    -webkit-transform: translate(0, 188px);
    transform: translate(0, 188px);
  }
}
@-webkit-keyframes box-scale5 {
  26% {
    -webkit-transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
    transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
  }
  34%,
  100% {
    -webkit-transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
    transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
  }
}
@keyframes box-scale5 {
  26% {
    -webkit-transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
    transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
  }
  34%,
  100% {
    -webkit-transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
    transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
  }
}
@-webkit-keyframes box-move6 {
  36% {
    -webkit-transform: translate(var(--x), var(--y));
    transform: translate(var(--x), var(--y));
  }
  49%,
  52% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  80% {
    -webkit-transform: translate(0, -32px);
    transform: translate(0, -32px);
  }
  90%,
  100% {
    -webkit-transform: translate(0, 188px);
    transform: translate(0, 188px);
  }
}
@keyframes box-move6 {
  36% {
    -webkit-transform: translate(var(--x), var(--y));
    transform: translate(var(--x), var(--y));
  }
  49%,
  52% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  80% {
    -webkit-transform: translate(0, -32px);
    transform: translate(0, -32px);
  }
  90%,
  100% {
    -webkit-transform: translate(0, 188px);
    transform: translate(0, 188px);
  }
}
@-webkit-keyframes box-scale6 {
  30% {
    -webkit-transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
    transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
  }
  38%,
  100% {
    -webkit-transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
    transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
  }
}
@keyframes box-scale6 {
  30% {
    -webkit-transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
    transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
  }
  38%,
  100% {
    -webkit-transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
    transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
  }
}
@-webkit-keyframes box-move7 {
  40% {
    -webkit-transform: translate(var(--x), var(--y));
    transform: translate(var(--x), var(--y));
  }
  53%,
  52% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  80% {
    -webkit-transform: translate(0, -32px);
    transform: translate(0, -32px);
  }
  90%,
  100% {
    -webkit-transform: translate(0, 188px);
    transform: translate(0, 188px);
  }
}
@keyframes box-move7 {
  40% {
    -webkit-transform: translate(var(--x), var(--y));
    transform: translate(var(--x), var(--y));
  }
  53%,
  52% {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
  80% {
    -webkit-transform: translate(0, -32px);
    transform: translate(0, -32px);
  }
  90%,
  100% {
    -webkit-transform: translate(0, 188px);
    transform: translate(0, 188px);
  }
}
@-webkit-keyframes box-scale7 {
  34% {
    -webkit-transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
    transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
  }
  42%,
  100% {
    -webkit-transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
    transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
  }
}
@keyframes box-scale7 {
  34% {
    -webkit-transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
    transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(0);
  }
  42%,
  100% {
    -webkit-transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
    transform: rotateY(-47deg) rotateX(-15deg) rotateZ(15deg) scale(1);
  }
}
@-webkit-keyframes ground {
  0%,
  65% {
    -webkit-transform: rotateX(90deg) rotateY(0deg) translate(-48px, -120px)
      translateZ(100px) scale(0);
    transform: rotateX(90deg) rotateY(0deg) translate(-48px, -120px)
      translateZ(100px) scale(0);
  }
  75%,
  90% {
    -webkit-transform: rotateX(90deg) rotateY(0deg) translate(-48px, -120px)
      translateZ(100px) scale(1);
    transform: rotateX(90deg) rotateY(0deg) translate(-48px, -120px)
      translateZ(100px) scale(1);
  }
  100% {
    -webkit-transform: rotateX(90deg) rotateY(0deg) translate(-48px, -120px)
      translateZ(100px) scale(0);
    transform: rotateX(90deg) rotateY(0deg) translate(-48px, -120px)
      translateZ(100px) scale(0);
  }
}
@keyframes ground {
  0%,
  65% {
    -webkit-transform: rotateX(90deg) rotateY(0deg) translate(-48px, -120px)
      translateZ(100px) scale(0);
    transform: rotateX(90deg) rotateY(0deg) translate(-48px, -120px)
      translateZ(100px) scale(0);
  }
  75%,
  90% {
    -webkit-transform: rotateX(90deg) rotateY(0deg) translate(-48px, -120px)
      translateZ(100px) scale(1);
    transform: rotateX(90deg) rotateY(0deg) translate(-48px, -120px)
      translateZ(100px) scale(1);
  }
  100% {
    -webkit-transform: rotateX(90deg) rotateY(0deg) translate(-48px, -120px)
      translateZ(100px) scale(0);
    transform: rotateX(90deg) rotateY(0deg) translate(-48px, -120px)
      translateZ(100px) scale(0);
  }
}
@-webkit-keyframes ground-shine {
  0%,
  70% {
    opacity: 0;
  }
  75%,
  87% {
    opacity: 0.2;
  }
  100% {
    opacity: 0;
  }
}
@keyframes ground-shine {
  0%,
  70% {
    opacity: 0;
  }
  75%,
  87% {
    opacity: 0.2;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes mask {
  0%,
  65% {
    opacity: 0;
  }
  66%,
  100% {
    opacity: 1;
  }
}
@keyframes mask {
  0%,
  65% {
    opacity: 0;
  }
  66%,
  100% {
    opacity: 1;
  }
}
body {
  background: var(--background);
}

small {
  display: block;
  position: absolute;
  bottom: 20px;
  left: 50%;
  font-family: Arial;
  max-width: 320px;
  font-size: 12px;
  line-height: 19px;
  z-index: 1;
  color: #6c7486;
}
@media (min-width: 481px) {
  small {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    text-align: center;
  }
}
@media (max-width: 480px) {
  small {
    left: 20px;
    right: 112px;
    font-size: 10px;
    line-height: 17px;
    -webkit-transform: translateZ(400px);
    transform: translateZ(400px);
  }
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: inherit;
}
*:before,
*:after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}
body .dribbble {
  position: fixed;
  display: block;
  right: 24px;
  bottom: 24px;
}
body .dribbble img {
  display: block;
  width: 76px;
}
